body {
  background-image: url("../img/sharpen-enlarge-2x-bg-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  object-fit: cover;

  /* background-position: center; */
}
.img-overlay {
  background-color: rgb(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
}
main {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

main > div {
  flex: 50%;
}
.bold-text {
  line-height: 1;
}
main h1 {
  font-size: 4em;
}
main .name {
  font-size: 3.7em;
  font-weight: 600;
  display: block;
  word-spacing: 1px;
}
.description {
  margin-top: 30px;
  line-height: 1.7;
}
p .highlight {
  background-color: rgba(48, 92, 204, 0.5);
  border-radius: 5px;
  padding: 3px;
}
.tools {
  margin-top: 7px;
  display: flex;
  gap: 20px;
}
.tools p {
  background-color: rgba(48, 92, 204, 0.5);
  padding: 2px 3px;
  border-radius: 3px;
}
.hire {
  padding: 20px 35px;
  margin-top: 3em;
  background-color: rgba(48, 92, 204, 0.5);
  outline: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
  font-weight: 500;
}
.social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.social-media a {
  padding-bottom: 20px;
  position: relative;
  bottom: 20%;
  left: 10%;
  font-size: 20px;
}
footer {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  margin-top: 20px;
}
.myname {
  font-size: 20px;
}
.animate__animated.animate__bounce {
  --animate-duration: 10s;
}
.animate__animated.animate__backInRight {
  --animate-duration: 1s;
}
@media (max-width: 1155px) {
  .all-part {
    width: 100%;
    padding: 100px 40px;
  }
  .social-media a {
    padding-bottom: 20px;
    margin-right: 10%;
    position: relative;
    bottom: 20%;
    font-size: 20px;
  }
}
@media (max-width: 900px) {
  .tools p {
    background-color: rgba(48, 92, 204, 0.5);
    padding: 2px 20px;
    border-radius: 3px;
    text-align: center;
    margin-right: 8px;
  }

  .social-media a {
    position: none;
  }
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10em;
  }

  main > div {
    flex: 100%;
  }
  .bold-text {
    line-height: 1.3;
    margin-top: 10px;
  }
  main h1 {
    font-size: 2em;
  }
  .social-media {
    display: flex;
    flex-direction: row;
    margin-top: 5em;
  }
  main .name {
    font-size: 1.5em;
    font-weight: 600;
  }
  .tools {
    margin-top: 12px;
    display: flex;
    gap: 10px;
  }
  .tools p {
    background-color: rgba(48, 92, 204, 0.5);
    padding: 2px 3px;
    border-radius: 3px;
    font-size: 15px;
  }
  .description {
    font-size: 15px;
  }
  .all-part {
    margin-top: 5em;
    padding: 0 30px;
  }
}
@media (max-width: 500px) {
  .hire {
    padding: 15px 30px;
    margin-top: 3em;
    background-color: rgba(48, 92, 204, 0.5);
    outline: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    font-weight: 400;
    border-radius: 30px;
  }
}
