@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
body {
  background-color: rgb(22, 23, 25);
}
.img-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%;
}
section .projects {
  background-color: #fff;
  width: 100%;
}
.personal-project {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.personal-project > div {
  width: 40%;
}
.personal-project>div:hover{
  width: 70%;
}

.my-projects {
  border-top-left-radius: 50%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5em;
}
.links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #fff;
  align-items: center;
  padding: 5px 7px;
}
.links a {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  border: 2px solid black;
  border-radius: 20px;
  margin-top: 4px;
}
.project-desc {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.project-desc p {
  color: #fff;
  background-color: #000;
  padding: 5px 10px;
}
@media (max-width: 600px) {
  .personal-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }
  .personal-project > div {
    width: 80%;
  }
}
